<%- include header %>
    <div class="row">
        <h1 style="text-align: center"> Register Laundromat </h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/admin/addLaundry" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="address" placeholder="address" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="price" placeholder="price" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="photo" placeholder="photo" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-info btn-block">Register</button>
                </div>
            </form>
            <a href="/">Back</a>
        </div>
    </div>
    <h3>Laundromat list</h3>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>address</th>
            <th>price/kg</th>
            <th>Pic</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        <%laundries.forEach(function(laundry){%>
            <tr>
                <td><%= laundry.name %></td>
                <td><%= laundry.address %></td>
                <td><%= laundry.pricePerKg %></td>
                <td><%= laundry.photo %></td>
                <td><%= laundry.address %></td>
                <td><a href="#">Edit</a> <a href="#">Delete</a></td> 
            </tr>
        <%})%>
    </table>

<%- include footer %>